{% extends 'base.html' %}
{% block content %}
    <div class="contact-form-container">
        <h5>Please enter your contact information to continue with your order</h5>
        <div class="contact-form">
            <form action="{% url 'create_contact' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
                <input type="submit" value="Confirm" class="btn btn-primary" style="clear:both; margin: 10px 0"/>
            </form>
            {% if order.contact_information %}
                    <a href="{% url 'create_payment' %}"><button>Continue without editing</button></a>
            {% endif %}
        </div>
    </div>
{% endblock %}