{% extends 'clear_base.html' %}
{% block content %}
    <div class="payment-form-container">
        <div class="payment-form">
            <form action="{% url 'create_payment' %}" method="post">
            {% csrf_token %}
            <button class="back-btn" onclick="window.history.back()">&larr;</button>
            <h5>Please fill in your payment details</h5>
            {{ form.as_p }}
                <input type="submit" value="Confirm" class="btn btn-primary" style="clear:both; margin: 10px 0"/>
            </form>
            {% if order.credit_card %}
                <a href="{% url 'review' %}"><button>Continue without editing</button></a>
            {% endif %}
        </div>
    </div>
{% endblock %}
