{% extends 'base.html' %}
{% block content %}
    <div class="contact-form-container">
        <h5>Please enter your payment information</h5>
        <div class="contact-form">
            <form action="{% url 'create_payment' %}" method="post">
            {% csrf_token %}
            {{ form }}
                <input type="submit" value="Confirm" class="btn btn-primary" style="clear:both; margin: 10px 0"/>
            </form>
            {% if order.credit_card %}
                <a href="{% url 'review' %}"><button>Continue without editing</button></a>
            {% endif %}
        </div>
    </div>
{% endblock %}
