{% extends 'clear_base.html' %}
{% block content %}

    <div class="form-container">
        <span><a href="{% url 'create_contact' %}"><button class="back-btn pay-btn">&larr;</button></a></span>
        <span><h2 class="page-title" id="payment-title">Go back to Contact</h2></span>
        <h5 class="h-5-payment">Payment details</h5>
        <div class="form">
            <form action="{% url 'create_payment' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
                <input type="submit" value="Confirm" class="btn btn-primary"/>
            </form>
        </div>
    </div>
{% endblock %}
