{% extends 'clear_base.html'%}
{% block title %}Cart{% endblock %}
{% block content %}
    <div class="content-cart">
        <button type="button" class="clear-all">Clear all</button>
        <div class="pizza-cart">
            {% for item in orders.pizzas.all %}
                <div class="pizza-item-cart" id="{{ item.id }}">
                    <p>{{ item.item.name }}</p>
                    <p class="amount">{{ item.amount }}</p>
                    {%  if item.amount < 1 %}
                        <button type="button" class="minus-button-pizza" disabled="True">-</button>
                    {% else %}
                        <button type="button" class="minus-button-pizza">-</button>
                    {% endif %}
                    <button type="button" class="add-button-pizza">+</button>
                    <button type="button" class="remove-button-pizza">Remove</button>
                </div>
            {% endfor %}
            <br>
            {% for item in orders.offers.all %}
                <div class="offer-item-cart" id="{{ item.id }}">
                    <p>{{ item.item.order.name }}</p>
                    <p class="amount">{{ item.amount }}</p>
                    {%  if item.amount < 1 %}
                        <button type="button" class="minus-button-offer" disabled="True">-</button>
                    {% else %}
                        <button type="button" class="minus-button-offer">-</button>
                    {% endif %}
                    <button type="button" class="add-button-offer">+</button>
                    <button type="button" class="remove-button-offer">Remove</button>
                </div>
            {% endfor %}
        </div>
        <p class="price">Price: {{ orders.price }} kr</p>
        {% if orders.price != 0 %}
            <a href="{% url 'create_contact' %}"><button type="button" class="checkout">Checkout</button></a>
        {% else %}
            <a href="{% url 'create_contact' %}"><button type="button" class="checkout" disabled="True">Checkout</button></a>
        {% endif %}
    </div>
{% endblock %}