{% extends 'clear_base.html'%}
{% block content %}
    <div class="content">
        <button type="button" class="clear-all">X</button>
        <div class="pizza">
            {% for item in orders.pizzas.all %}
                <div class="pizza-item" id="{{ item.id }}">
                    <p>{{ item.item.name }}</p>
                    <p class="amount">{{ item.amount }}</p>
                    {%  if item.amount < 1 %}
                        <button type="button" class="minus-button-pizza" disabled="True">-</button>
                    {% else %}
                        <button type="button" class="minus-button-pizza">-</button>
                    {% endif %}
                    <button type="button" class="add-button-pizza">+</button>
                    <button type="button" class="remove-button-pizza">X</button>
                    <!--<img src="{{item.item.images.all.0.image}}"-->
                </div>
            {% endfor %}
            <br>
            {% for item in orders.offers.all %}
                <div class="offer-item" id="{{ item.id }}">
                    <p>{{ item.item.order.name }}</p>
                    <p class="amount">{{ item.amount }}</p>
                    {%  if item.amount < 1 %}
                        <button type="button" class="minus-button-offer" disabled="True">-</button>
                    {% else %}
                        <button type="button" class="minus-button-offer">-</button>
                    {% endif %}
                    <button type="button" class="add-button-offer">+</button>
                    <button type="button" class="remove-button-offer">X</button>
                    <!--<img src="{{item.item.order.image}}">-->
                </div>
            {% endfor %}
        </div>
        <a href="{% url 'create_contact' %}"><button type="button">Checkout</button></a>
    </div>
{% endblock %}