{% extends 'clear_base.html' %}
{% block content %}
    <div class="order">
        <div class="pizza">
            {% for item in orders.pizzas.all %}
                <div class="pizza-item" id="{{ item.id }}">
                    <p>{{ item.item.name }}</p>
                    <p class="amount">{{ item.amount }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="payment">
        <div>{{ Order.credit_card }}</div>
        <div>{{ order.credit_card.card_number }}</div>
        <div>{{ order.credit_card.cvc }}</div>
        <div>{{ order.credit_card.expiry }}</div>

    </div>
    <div class="contact">
        <div>{{ order.contact_information.name }}</div>
    </div>

{% endblock %}