{% extends 'clear_base.html' %}
{% block content %}

    <style>
    .order {
        margin-bottom: 100px;
    }
    .pizza {
        border-bottom: solid darkgray;
    }
    .offer {
        border-bottom: solid darkgray;
    }
    </style>

    <div class="order">
    <h2>Review your order</h2>
        <div class="order-summary">
            <h4>Your Order:</h4>
            <div class="pizza">
                {% for item in order.pizzas.all %}
                    <div class="pizza-item" id="{{ item.id }}">
                        <p>{{ item.item.name }}</p>
                        <p class="amount">{{ item.amount }}</p>
                        <img src="{{item.item.images.all.0.image}}" alt="Delicious lookin pizza"/>
                    </div>
                {% endfor %}
            </div>
            <div class="offer">
                {% for item in order.offers.all %}
                    <div class="offer-item" id="{{ item.id }}">
                        <p>{{ item.item.order.name }}</p>
                        {% for pizza in order.offers.all.item.items.all %}
                            <p>{{ pizza.item.name }}</p>
                        {% endfor %}
                        <p class="amount">{{ item.amount }}</p>
                        <img src="{{item.item.order.image}}" alt="Offer image"/>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="customer-summary">
            <h4>Customer Details:</h4>
            <div class="payment">
                <h6>Payment:</h6>
                <p>{{ order.credit_card.name }}</p>
                <p>{{ order.credit_card.card_number }}</p>
                <p>{{ order.credit_card.cvc }}</p>
                <p>{{ order.credit_card.expiry | date:'m/y' }}</p>
            </div>
            <div class="contact">
                <h6>Contact:</h6>
                <p>{{ order.contact_information.name }}</p>
                <p>{{ order.contact_information.address }} {{ order.contact_information.house_number }}</p>
                <p>{{ order.contact_information.zip }} {{ order.contact_information.city }}</p>
                <p>{{ order.contact_information.country }}</p>
            </div>
        </div>
        <a href="{% url 'confirmation' %}"><button type="button" id="confirm-order-btn">Confirm Order</button></a>
    </div>
{% endblock %}