{% extends 'base.html' %}
{% block title %}Log in{% endblock %}
{% block content %}
    <div class="form-container">
        <form class="form" method="post" class="form form-row">
            <h3 class="login-title">LOGIN</h3>
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="btn btn-primary login-register-btn" value="Login"/>
            <p id="redirect-register">Don't have an account? <a href="{% url 'register' %}" class="link-signup">Sign Up</a>
            </p>
        </form>
    </div>
{%  endblock %}