{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
    <div class="profile-container">
        <div class="img-container">
            {% if user.userprofile.image %}
                <h4 class="screen-name">{{ user.userprofile.screen_name }}</h4>
                <img src="{{ user.userprofile.image }}" class="profile-image" alt="profile image" id="profile-pic">
            {% else %}
                <h5 class="screen-name">{{ user.userprofile.screen_name }}</h5>
            {% endif %}
        </div>
        <form class="form profile-form" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="btn btn-primary" value="Update" id="profile-btn"/>
        </form>
    </div>
{% endblock %}