{% extends 'base.html' %}
{% block content %}
    <style>
    .profile-group {
        display: flex;
        color: #f8f9fa;
        background-color: #28242c;
        margin-top: 50px;
        margin-right: 20%;
        margin-left: 20%;
        border-radius: 2%;
    }

    .form {
        margin: 30px;
        justify-content: end;
        width: 90%;
    }

    .form-group .btn {
        margin-top: 20px;
    }

    input[type="text"] {
        margin-bottom: 10px;
        margin-top: 5px;
        opacity: .8;
    }
    #profile-pic {
        height: 15rem;
        padding: 50px;
        border-radius: 50%;
        z-index: 2;
    }
    .img-container {
        border-radius: 2% 0 0 2%;
        min-width: fit-content;
        /* fallback for old browsers */
        background: #f8f9fa;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right bottom, rgba(248,249,250,255), rgba(125, 130, 135, 1));

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right bottom, rgba(248,249,250,255), rgba(125, 130, 135, 1))
    }

    .screen-name {
        color: #28242c;
        text-align: center;
        font-weight: bold;
        padding: 10px;
    }
    </style>

    <div class="profile-group">
        <div class="img-container">
            {% if user.userprofile.image %}
                <h5 class="screen-name">{{ user.userprofile.screen_name }}</h5>
                <img src="{{ user.userprofile.image }}" class="profile-image" alt="profile image" id="profile-pic">
            {% else %}
                <h5 class="screen-name">{{ user.userprofile.screen_name }}</h5>
            {% endif %}
        </div>
        <form class="form form-row" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="btn btn-primary" value="Update" id="profile-btn"/>
        </form>
    </div>

<!--
<script>
    document.getElementById("profile-pic").addEventListener("onchange", () => {
        let myInput = document.getElementById("profile-pic");
        myInput.hidden = !(myInput && myInput.value);
    }, false);
</script>
-->
{% endblock %}