{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
    <!-- Do not move internal css to css file -->
    <style>
    label {
        display: block;
    }
    </style>

    <div class="form-container">
        <form class="form signup-form" method="post">
            <h3 class="signup-title">SIGN UP!</h3>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary login-register-btn" value="Register">
        </form>
    </div>
{% endblock %}