.square {
    width: 35rem;
    height: 20rem;
    margin-top: 75px;
    background-color: rosybrown;
    border: solid 2px rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}
.square h1{
    font-size: 3em;
}

.pizza{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.background-image {
    background-image: url('../images/pizza.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
}

html {
    height: 100%
}

footer {
    background-color: #28242c;
    border-top: black;
}

header {
    background-color: white;
    border-bottom: black;
}

.row {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.login {
    display: block;
}

div#card {
    height: 500px;
    transform: translateY(-80px);
}

.offer {
    display: flex;
}

.offer-item {
    display: inline-block;
    margin: 30px;
    text-align: center;
    background-color: white;
    padding: 20px;
}

.offer img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border: solid 2px rgba(0, 0, 0, .5);
}

.offer-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    text-align: center;
}

.pizza-item {
    display: inline-block;
    margin: 30px;
    text-align: center;
    background-color: white;
    padding: 20px;
}

.pizza-item img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border: solid 2px rgba(0, 0, 0, .5);
}

.pizza-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    text-align: center;
}

.view-pizza {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 100px auto;
    text-align: center;
    background-color: white;
    padding: 20px;
    width: 800px;
    height: 400px;
}

.back-button {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    border: none;
    background-color: white;
    font-size: 3rem;
}

.pizza-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 30px;
}

.price-and-image {
    display: block;
    margin-top: 20px;
}

.pizza-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border: solid 2px rgba(0, 0, 0, .5);
}

.pizza-price {
    font-size: 1.5rem;
}

.locations {
    display: inline-flex;
    gap: 20px;
}

.location {
    border: black solid;
    padding: 10px;
}

.profile-image {
    height: 2rem;
    border-radius: 50%;
}

.add-offer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 100px auto;
    text-align: center;
    background-color: white;
    padding: 20px;
    width: 800px;
    height: 400px;
}

.offer-name-and-desc {
    position: absolute;
    top: 20px; /* Adjust the top value as per your preference */
    left: 100px; /* Adjust the left value as per your preference */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 300px;
}

.offer-img-and-price {
    position: absolute;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offer-img {
    width: 350px;
    height: 250px;
    object-fit: cover;
    border: solid 2px rgba(0, 0, 0, 0.5);
}

.col-lg-3 {
    display: inline-flex;
}

.foot-btn {
    display: block;
}

.p-4 {
    padding: 1rem!important;;
}

.link {
    font-size: medium;
    color: aliceblue;
    text-decoration: none;
}

.text-uppercase {
    display: block;
    padding: 0px;
    font-size: medium;
}

.btn-outline-light {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}