.square {
    width: 35rem;
    height: 20rem;
    margin-top: 75px;
    background-color: rosybrown;
    border: solid 2px rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}
.square h1{
    font-size: 3em;
}

.pizza{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.background-image {
    background-image: url('../images/pizza.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    /*justify-content: space-between;*/
}

html {
    height: 100%
}

footer {
    background-color: #28242c;
    border-top: black;
}

header {
    background-color: white;
    border-bottom: black;
}

.row {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-items: center;
}

.login {
    display: block;
}

div#card {
    height: 500px;
    transform: translateY(-80px);
}

.offer {
    display: grid;
    justify-self: center;
    grid-template-columns: 33% 33% 33%;
}

.offer-item {
    display: inline-block;
    margin: 30px;
    text-align: center;
    background-color: white;
    padding: 20px;
}

.offer img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border: solid 2px rgba(0, 0, 0, .5);
}

.offer-text-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    text-align: center;
}

.pizza-item {
    display: inline-block;
    margin: 30px;
    text-align: center;
    background-color: white;
    padding: 20px;
}

.pizza-item img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border: solid 2px rgba(0, 0, 0, .5);
}

.pizza-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    text-align: center;
}

.view-pizza {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 100px auto;
    text-align: center;
    background-color: white;
    padding: 20px;
    width: 800px;
    height: 400px;
}

.back-button {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    border: none;
    background-color: white;
    font-size: 3rem;
}

.pizza-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 30px;
}

.price-and-image {
    display: block;
    margin-top: 20px;
}

.all-images {
    font-size: large;
    background-color: aliceblue;
}

.pizza-img-list {
    border: solid 2px rgba(0, 0, 0, .5);
    max-width: 75%;
    /* height: auto; */
    height: fit-content;
}

.images {
    margin-bottom: 100px;
    padding: 20px;
    margin-left: 10px;
    margin-right: 20px;
}

.pizza-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border: solid 2px rgba(0, 0, 0, .5);
}

.pizza-price {
    font-size: 1.5rem;
}

.locations {
    display: inline-flex;
    gap: 20px;
}

.location {
    border: black solid;
    padding: 10px;
}

.add-offer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 100px auto;
    text-align: center;
    background-color: white;
    padding: 20px;
    width: 800px;
    height: 400px;
}

.offer-name-and-desc {
    position: absolute;
    top: 20px; /* Adjust the top value as per your preference */
    left: 100px; /* Adjust the left value as per your preference */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 300px;
}

.offer-img-and-price {
    position: absolute;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offer-img {
    width: 350px;
    height: 250px;
    object-fit: cover;
    border: solid 2px rgba(0, 0, 0, 0.5);
}

.col-lg-3 {
    display: inline-flex;
}

.foot-btn {
    display: block;
}

.p-4 {
    padding: 1rem!important;;
}

.link {
    font-size: medium;
    color: aliceblue;
    text-decoration: none;
}

.text-uppercase {
    display: block;
    padding: 0px;
    font-size: medium;
}

.btn-outline-light {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

/*  Login/Signup    */
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: #28242c;
    color: #f8f9fa;
    padding: 30px;
    border-radius: 2%;
    gap: 10px;
    width: fit-content;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px auto;
}

.btn-primary {
    background-color: #f8f9fa;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #28242c;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    vertical-align: middle;
    margin-top: 40px;
    width: 40%;
    align-self: center;
}

.btn-primary:hover {
    background-color: rgba(243, 244, 246, 0.94);
    transition-duration: 0.1s;
    color: #28242c;
}

.btn-primary:active {
    outline: none;
    border: none;
    background-color: rgba(243, 244, 246, 0.94);
}
.btn-primary:focus {
    outline: 0;
}

.login-title {
    align-self: center;
    font-weight: bolder;
    padding: 20px 0;
}

#redirect-register {
    color: #f8f9fa;
    align-self: center;
    margin-top: 20px;
}

.link-signup {
    text-decoration: none;
    color: gray;
    font-weight: bold;
}

span.helptext {
    display: block;
}

input#id_username {
    background-color: #28242c;
    border: #f8f9fa thin solid;
    color: #f8f9fa;
    width: 300px;
    height: 40px;
}

input[type="password"] {
    background-color: #28242c;
    border: #f8f9fa thin solid;
    color: #f8f9fa;
    width: 300px;
    height: 40px;
}

input[type="text"] {
    opacity: .8;
}

input[type="number"] {
    opacity: .8;
}
select {
    opacity: .8;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.signup-title {
    align-self: center;
    font-weight: bolder;
    padding: 20px 0;
}

.signup-form {
    text-align: left;
}



/*  Cart    */

.content-cart{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.pizza-cart {
    position: relative;
    display: flex;
    height: auto;
    flex-direction: row;
    background-color: #f2f2f2;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pizza-item-cart {
    font-weight: bold;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    width: 150px;
    height: 200px;
    border-radius: 4px;
    padding: 10px;
    margin: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.offer-item-cart {
    font-weight: bold;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    width: 150px;
    height: 200px;
    border-radius: 4px;
    padding: 10px;
    margin: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.clear-all {
    margin-bottom: 20px;
}

.checkout {
    margin-top: 20px;
}

.minus-button-pizza {
    border: none;
    font-size: 2rem;
}

.add-button-pizza {
    border: none;
    font-size: 2rem;
}

.remove-button-pizza {
    border: 1px solid #ccc;
}

.minus-button-offer {
    border: none;
    font-size: 2rem;
}

.add-button-offer {
    border: none;
    font-size: 2rem;
}

.remove-button-offer {
    border: 1px solid #ccc;
}

.sort-by-select {
    padding: 8px 16px;
    /*border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;*/
    cursor: pointer;
    opacity: 1;
    border: 2px solid black;
    border-radius: 5px;
}

.filter-by-select {
    padding: 8px 16px;
    /*border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;*/
    cursor: pointer;
    opacity: 1;
    border: 2px solid black;
    border-radius: 5px;
}

.search {
    display: flex;
    gap: 10px;
}

#search-btn {
    background-color: aliceblue;
    color: black;
    /* padding: 15px 32px; */
    text-align: center;
    /* text-decoration: none; */
    /* display: inline-block; */
    /* font-size: 16px; */
    border: 2px solid black;
    border-radius: 5px;
}

#search-box {
    border: 2px solid black;
}

.search-bar-menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* align-content: stretch; */
    /* align-items: center; */
    width: 100%;
}

.content-contact {
    border: 3px solid black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    text-align: center;
    background-color: white;
    padding: 20px;
    width: 800px;
    height: 400px;
}

.offer-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 30px;
}

/*  Review CSS  */
.review-order {
    display: flex;
}

.review-pizza {
    display: flex;
    flex-direction: column;
    flex-shrink: 2;
    justify-content: space-between;
    align-items: stretch;
    padding: 10px;
    gap: 10px;
}

.review-item {
    display: flex;
    border-bottom: solid lightgray;
    border-radius: 2%;
    background-color: #f8f9fa;
    padding: 10px;
    align-content: baseline;
}

.title-img {
    display: flex;
    justify-content: space-between;
}

#review-img {
    display: inline;
    margin-left: 30px;
    width: 50px;
    height: 50px;
}

#review-pizza-name {
    margin-left: 10px;
}

.review-amount {
    border: #cccccc solid thin;
    padding: 5px 20px;
}

.review-offer {
    display: flex;
    flex-direction: column;
    flex-shrink: 2;
    justify-content: space-between;
    align-items: stretch;
    padding: 10px;
    gap: 10px;
}

.review-offer-pizza {
    margin-left: 10px;
}

.order-summary {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 100px;
    margin-left: 30px;
    gap: 10px;
}

.customer-summary {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
    gap: 60px;
}

.page-title {
    position: absolute;
    margin-top: 10px;
    margin-left: 90px;
}

.back-btn {
  position: absolute;
  margin-top: 5px;
  margin-left: 10px;
  align-items: center;
  background: #FFFFFF;
  border: 0 solid #E2E8F0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #1A202C;
  display: inline-flex;
  font-weight: 700;
  height: 46px;
  justify-content: center;
  line-height: 24px;
  padding: 24px;
  width: auto;
  border-radius: 8px;
}

.review-price {
    margin-left: auto;
}

.offer-name {
    display: flex;
    flex-direction: column;
}

.review-payment {
    display: flex;
    justify-content: space-between;
    border: #E2E8F0 solid thin;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    margin-left: 70px;
}

.review-contact {
    display: flex;
    justify-content: space-between;
    border: #E2E8F0 solid thin;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    margin-left: 70px;
}

.review-col-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin-left: 30px;
}

.review-col-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    margin-top: 22px;
    margin-right: 30px;
}

.h-5 {
    position: relative;
    margin-left: -60px;
    margin-top: -30px;
    border-radius: 2%;
    width: 200px;
    color: white;
    background-color: #28242c;
    padding: 10px;
}

.title-col-1 {
    text-align: left;
    color: #999fa4;
}

.title-col-2 {
    text-align: right;
    color: #999fa4;
}

.cust-info {
    border-bottom: solid lightgray;
    font-weight: bold;
    text-align: left;
}

.confirm-order {
    text-align: right;
    padding-top: 10px;
}

#total-price {
    font-size: larger;
    margin-bottom: 10px;
    padding-right: 20px;
}

#confirm-order-btn {
  background-color: #fff;
  border: 1px solid #28242c;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
}

#confirm-order-btn:hover {
  background-color: #28242c;
  color: #f8f9fa;
}

/*      Payment CSS     */
.payment-form-container {
    display: flex;
    justify-content: space-evenly;
    flex-shrink: 5;
}

.payment-form {
    display: flex;
    border: #E2E8F0 solid thin;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    margin-top: 100px;
    margin-right: 35%;
    width: 500px;
    padding: 20px 50px;
    text-align: left;
    background-color: #f3f8fa;
}



.h-5-payment {
    position: absolute;
    margin-top: 80px;
    width: 200px;
    height: fit-content;
    color: white;
    background-color: #28242c;
    padding: 10px;
}

/*  Contact Info    */
.contact-form-container {
    display: flex;
    justify-content: space-evenly;
    flex-shrink: 5;
}

.contact-form {
    display: flex;
    border: #E2E8F0 solid thin;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    margin-top: 100px;
    margin-right: 35%;
    margin-bottom: 100px;
    width: 800px;
    padding: 20px 50px;
    text-align: left;
    background-color: #f3f8fa;
}

.h-5-contact {
    position: absolute;
    margin-top: 80px;
    width: 200px;
    height: fit-content;
    color: white;
    background-color: #28242c;
    padding: 10px;
}

/*  Profile  */
.profile-container {
        display: flex;
        color: #f8f9fa;
        margin-top: 80px;
        margin-left: 20%;
        border-radius: 2%;
}

.profile-form {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#profile-pic {
    height: 15rem;
    padding: 50px;
    border-radius: 50%;
}

.img-container {
    border-radius: 2% 0 0 2%;
    min-width: fit-content;
    /* fallback for old browsers */
    background: #f8f9fa;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, #f8f9fa, #28242c);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, #f8f9fa, #28242c)
}

.screen-name {
    color: #28242c;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

input#id_screen_name.form-control {
    background-color: #28242c;
    border: #f8f9fa thin solid;
    color: #f8f9fa;
    width: 300px;
    height: 40px;
}

input#id_image.form-control {
    background-color: #28242c;
    border: #f8f9fa thin solid;
    color: #f8f9fa;
    width: 300px;
    height: 40px;
}