{% extends 'base.html' %}
{% block content %}
    <div class="add-offer">
        <button class="back-button" onclick="window.history.back()">&larr;</button>
        <div class="offer-name-and-desc">
            <h4>{{ offer.name }}</h4>
            <p>{{ offer.description }}</p>
        </div>
        <div class="pizza-select">
            <option value="">Pizza 1</option>
            <select id="pizza-select-drop1">
                {% for pizza in pizzas %}
                    <option value="{{ pizza.id }}">{{ pizza.name }} - {{ pizza.price }} kr</option>
                {% endfor %}
            </select>
            <p></p>
            <option value="">Pizza 2</option>
            <select id="pizza-select-drop2">
                {% for pizza in pizzas %}
                    <option value="{{ pizza.id }}">{{ pizza.name }} - {{ pizza.price }} kr</option>
                {% endfor %}
            </select>
        </div>
        <div class="offer-img-and-price">
            <img class="offer-img" src="{{ offer.image }}" />
        </div>
    </div>
{% endblock %}