{% extends 'base.html'%}
{% block title %}Offers{% endblock %}
{% block content %}
    <div class="content">
        <div class="offer">
            {% for offer in offers %}
                <div class="offer-item">
                    <img src="{{ offer.image }}" style="display:inline-block">
                    <div class="offer-text-box">
                        <h4>{{ offer.name }}</h4>
                        <p>{{ offer.description }}</p>
                        {% if not active and offer.name == 'Lunch offer' %}
                            <a href="/offers/{{ offer.id }}/">
                                <button disabled="True">Add to cart</button>
                            </a>
                        {% else %}
                            <a href="/offers/{{ offer.id }}/">
                                <button>Add to cart</button>
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}