<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/offers">Offers</a></li>
            <li><a href="/menu">Menu</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}

    <footer>
        <p>Opening Time</p>
        <ul>
            <li>Monday-Sunday: 11:00 - 23:00</li>
        </ul>

        <div class="contact-info">
            <p>Contact Us</p>
            <button><a href="https://www.instagram.com/" target="_blank">Instagram</a></button>
            <button><a href="tel:1234567">Phone</a></button>
            <button><a href="https://www.facebook.com/" target="_blank">Facebook</a></button>
        </div>
    </footer>
</body>
</html>