<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="{% url 'offers-index' %}">Offers</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'menu-index' %}">Menu</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'userprofile-index' %}"><button type="button" class="btn btn-default navbar-btn">Login</button></a></li> <!--after login displays screen name and img-->
          <li><a href="{% url 'cart-index' %}"><button type="button" class="btn btn-default navbar-btn">Order</button></a></li> <!--after adding to cart displays 'Your Order' and nr. of items-->
      </ul>
    </div>
  </div>
</nav>