<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="{% url 'frontpage-index' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'offers-index' %}">Offers</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'menu-index' %}">Menu</a></li>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated and user.userprofile.image %}
                <li class="nav-item"><a class="nav-link" href="{% url 'cart-index' %}">Cart</a></li>
                <img src="{{ user.userprofile.image }}" class="profile-img" alt="profile image" onclick="toggleMenu()">
                <div class="sub-menu-wrap" id="subMenu">
                    <div class="sub-menu">
                        <div class="user-info">
                            <img src="{{ user.userprofile.image }}" class="drop-img" alt="profile image">
                            <h3 class="screen-name-drop">{{ user.userprofile.screen_name }}</h3>
                        </div>
                        <hr>
                        <a href="{% url 'profile' %}" class="sub-menu-link">
                            <p class="nav-item">Edit Profile</p>
                        </a>
                        <a href="{% url 'logout' %}" class="sub-menu-link">
                            <p class="nav-item">Logout</p>
                        </a>
                    </div>
                </div>
            {% elif user.is_authenticated and not user.userprofile.image %}
                <li class="nav-item"><a class="nav-link" href="{% url 'cart-index' %}">Cart</a></li>
                <img src="https://cdn-icons-png.flaticon.com/512/1404/1404945.png" class="profile-img" alt="pizza image" onclick="toggleMenu()">
                <div class="sub-menu-wrap" id="subMenu">
                    <div class="sub-menu">
                        <div class="user-info">
                            <img src="https://cdn-icons-png.flaticon.com/512/1404/1404945.png" class="drop-img" alt="pizza image" onclick="toggleMenu()">
                            <h3 class="screen-name-drop">{{ user.userprofile.screen_name }}</h3>
                        </div>
                        <hr>
                        <a href="{% url 'profile' %}" class="sub-menu-link">
                            <p class="nav-item">Edit Profile</p>
                        </a>
                        <a href="{% url 'logout' %}" class="sub-menu-link">
                            <p class="nav-item">Logout</p>
                        </a>
                    </div>
                </div>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>

    </div>
</nav>