<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="{% url 'Home Page' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'offers-index' %}">Offers</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'menu-index' %}">Menu</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <img src="{{ user.userprofile.image }}" class="profile-image" alt="profile image">
                    <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'cart-index' %}">Order</a></li> <!--after adding to cart displays 'Your Order' and nr. of items-->
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li> <!--after login displays screen name and img-->
                    <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li> <!--after adding to cart displays 'Your Order' and nr. of items-->
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
