{% extends 'base.html'%}
{% block content %}
    <div class="search-bar-menu">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
            </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
    <div class="pizza">
        {% for pizza in pizzas %}
        <h4>{{ pizza.name }}</h4>
        <p>{{ pizza.price }} kr</p>
        {% endfor %}
    </div>

{% endblock %}