{% extends 'base.html'%}
{% block content %}
    <div class="content">
        <div class="search-bar-menu">
            <div class="search">

                <form action="{% url 'search' %}" class="form">
                    <input name="q" value="{{ request.GET.q }}" placeholder="Search...">
                    </p>
                </form>
            </div>
        </div><!-- /.col-lg-6 -->
        <div class="pizza">
            {% for pizza in pizzas %}
                <div class="pizza-item">
                    <img src="{{ pizza.images.all.0.image }}" style="display:inline-block">
                    <div class="pizza-text-box">
                        <h4>{{ pizza.name }}</h4>
                        <p>{{ pizza.price }} kr</p>
                        <button data-details-target="#details-{{ pizza.id }}">View details</button>
                        <div class="details" id="details-{{ pizza.id }}">
                            <div class="details-header">
                                <div class="title">{{ pizza.name }}</div>
                                <button data-close-button class="close-button">&times;</button>
                            </div>
                            <div class="details-body">
                                testing testing testing
                            </div>
                        </div>
                        <div id="overlay"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}