{% extends 'base.html' %}
{% block title %}{{ pizza.name }}{% endblock %}
{% block content %}
    <div class="view-pizza">
        <button class="back-button" onclick="window.history.back()">&larr;</button>
        <div class="pizza-details">
            <h4>{{ pizza.name }}</h4>
            <p>{{ pizza.toppings.all|join:', ' }}</p>
            <p>{{ pizza.description }}</p>
        </div>
        <div class="price-and-image">
            <img class="pizza-img" src="{{ pizza.images.all.0.image }}" />
            <p class="pizza-price">{{ pizza.price }} kr</p>
            <form action="{% url 'add_menu_to_cart' %}" method="post">
                {% csrf_token %}
                <input type="hidden" id="custId" name="pizzaId" value="{{ pizza.id }}">
                <input type="submit" value="Add to cart"/>
            </form>
        </div>
    </div>
{% endblock %}
